body{
    font-size:14pt !important;
    font-family: 'Roboto', sans-serif !important;
}
hr{
    color:brown!important;
}
.separador {
    height: 60px;
}

.linea {
    height: 6px;
}

body {
    background-color: #e97014 !important;
    //background-color: #f88928 !important;
}

/**
* Navigation Bar
**/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    width: 100%;
    background: #CC4A00;
    font-family: Raleway, sans-serif;
    line-height: 1;
    position: fixed;
    z-index: 1;
}

@media (min-width: 900px) {
    #cssmenu > ul {
        margin-left: 10px;
    }
}

#cssmenu > ul {
    background: #CC4A00;
}

#cssmenu > ul > li {
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu > ul > li > a {
    padding: 20px 20px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: #CC4A00;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cssmenu > ul > li.admin > a {
    color: #FFFFFF;
    background-color: #ea8c47;
}

#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #e97014;
    -webkit-transform: rotateX(90deg) translateY(-23px);
    -moz-transform: rotateX(90deg) translateY(-23px);
    transform: rotateX(90deg) translateY(-23px);
    -ms-transform: none;
}

#cssmenu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    color: #ffffff;
    background: rgba(228, 108, 0, 0.88);
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: translateY(-18px);
}

#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
    background: #e97014;
}

#cssmenu.small-screen {
    width: 100%;
}

#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}

#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(223, 255, 223, 0.53);
}

#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
    color: #e97014;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    -ms-transform: none;
}

#cssmenu.small-screen > ul > li > a::before {
    display: none;
}

#cssmenu.small-screen #menu-button {
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #CC4A00;
}

#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 0px solid #ffffff;
    width: 22px;
    height: 3px;
}

#cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #dff2fa;
    border-bottom: 0px solid #dff2fa;
}

#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}

#cssmenu.small-screen #menu-button.menu-opened:before {
    background: #dff2fa;
}

/**
* Image gallery
**/

#gallery {
    background-color: #e97014;
    /**background-image: url("../images/sponsor-bg.jpg");**/
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.light {
    position: absolute;
    right: 0;
    bottom: 0;
}

#gallery .col-sm-10 {
    z-index: 10;
}

#gallery h2 {
    margin-top: 90px;
    margin-bottom: 40px;
}

#gallery .item ul {
    font-size: 0;
    padding: 0;

}

#gallery .item ul li {
    display: inline-block;
    list-style: none;
    width: 23.33%;
    margin-bottom: 55px;
    margin-right: 15px;
}

#gallery .item ul li:last-child {
    margin-right: 0
}

.gallery-control-left,
.gallery-control-right {
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 20%;
}

.gallery-control-left {
    right: 12%
}

.gallery-control-right {
    right: 10%
}

/**
* Search Tabs
**/
.ui-tabs-vertical {
    width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

.nopadding {
    padding: 0px 0px !important;
}

.nomargin {
    margin: 0px 0px !important;
}
.text-marro{
    color:#4e1803!important;
}
.container-noticies {
    margin: 0 10px;
    padding: 5px 5px;
}

@media (min-width: 768px) {
    .noticia {
        margin-top: 8px;
        margin-right: 8px;
    }
}

.noticia {
    background-color: rgba(243, 152, 47, 0.99);
    margin-top: 8px;

    padding: 10px 0;
    border-radius: 10px;
    border: 3px solid #c54700;

}
.body-noticia {
    color: #FFFFFF;
    padding: 2%;
    font-size: 14pt !important;
    min-height:150px;
}
.header-noticia {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 16pt !important;
    font-weight:bold !important;

}

.body-noticia {
    color: #FFFFFF;
    padding: 2%;
    font-size: 14pt !important;
    min-height:150px;
}

@media (min-width: 1700px) {
    .noticia {
        min-height: 220px !important;
    }
}

@media (max-width: 1700px) and (min-width: 800px) {
    .noticia {
        min-height: 320px !important;
    }
}

.leer-mas {
    padding: 3%;

    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #CC4A00;
    border: 2px solid #762d00;
    border-radius: 3px;
    min-width: 100px;
    text-align: center;
}
.leer-mas-b {
    padding: 10px;

    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
    background: #CC4A00;
    border: 2px solid #762d00;
    border-radius: 3px;
    min-width: 100px;
    text-align: center;
}
.leer-mas-b:hover{
    background: #fc5c00;
}
.leer-mas-b a{
    color: white !important;
    text-decoration: none;
}
.leer-mas-b a:hover {
    color: white !important;
    text-decoration: none;
}
.leer-mas:hover {
    background: #fc5c00;
}

.leer-mas a {
    color: white !important;
    text-decoration: none;
}
.leer-mas a:hover {
    color: white !important;
    text-decoration: none;
}

.relative {
    position: relative;
}

@media (min-width: 980px) {

    .twitter-container {
        padding-right: 6px;

    }
}

.twitter-container {
    background-color: rgba(243, 152, 47, 0.99);
    border-radius: 5px;
    margin-top: 8px;
    border: 3px solid #C5611E;
}



/**
* Letras
**/
titol {
    font-size: 2em;
}

date {
    font-size: .75em;
    font-style: italic;
}

desc {
    font-size: 1em;
}

.footer {
    min-height: 300px;
    padding: 1%;
    background-color: rgba(48, 3, 0, 0.83);
}
.errorval{
    color: #a00500 !important;
}

.seccio-footer {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.footer-element {
    margin-top: 5px;
    padding: 3px;
    color: white;
}

.social-icons {
    margin-top: 14px;
    text-align: center;
}

.social-icon {
    padding: 7px;
    color: white;
}

.social-icon:hover {
    cursor: pointer;
    color: #FFA500;
}

a:link {
    color: #FFFFFF !important;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: orange !important;
    text-decoration: none!important;
}

/* selected link */
a:active {
    color: #dd5a00;
}

.prova {
    color: #3f44ff;
}

.mapa {
    background: #C54700;
    padding: 4px;
    border-radius: 4px;
}
@media (min-width:760px){
    .container-search{
        margin-left:8%;
        margin-right:8%;
    }
}

@media (max-width:760px){
    .mapa{
        margin-bottom: 3px;
    }
}
.buscador {
    background: #F3982F;
    border: 3px solid #C54700;

    padding: 2%;
    border-radius: 8px;
}
.map-container{
    padding-right:1px;
}
.event{
    margin-left:35px;
    cursor:default!important;
}
.data-event{
    margin-left:10px;
    font-style:italic;
    text-decoration: underline;
}
.hora-event{
    font-style:italic;
}
@media (max-width:760px){
    .idiomes{
        margin-left:10px;
    }
}
@media (min-width:760px){
    .idiomes{
        float:right;
    }
}
.idiomes{
    padding-top: .1%;
    padding-right:.1%;
}
.lang{

    margin-left:5px;
}
.lang:hover{
    opacity:0.8;
}

fieldset.scheduler-border {
    border: solid 3px #C54700 !important;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    border-bottom: none;

    background-color: #f3982f;
}

legend.scheduler-border {
    border-top: solid 3px #C54700 !important;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding:8px;
    background-color: #F3982F;
    width: auto !important;
    position: relative;
}

legend.scheduler-border:after {
    content: '';
    position: absolute;
    border-left: solid 3px #C54700 !important;
    left: 0;
    top: 0px;
    height: 50%;

}

legend.scheduler-border:after {
    content: '';
    position: absolute;
    border-right: solid 3px #C54700 !important;
    right: 0;
    top: 0px;
    height: 50%;

}
.botoform{
    margin-right: 2%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    color: #f1e5e6;
    background-color: #dd4814;
    margin-bottom: 20px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #B24014;
}
.publishtwitter{
    display:none;
}