
.tabs-left {
    margin-top: 3rem;
}

.nav-tabs {
    float: left;
    border-bottom: 0;
}

.nav-tabs li {
    float: none;
    margin: 0;
}

.nav-tabs li a {
    margin-right: 0;
    border: 0;
    background-color: #cc4a00;
}

.nav-tabs li a:hover {
    background-color: #e25600;
    color:white !important;
}

.nav-tabs .glyphicon {
    color: #fff;
}

.nav-tabs .active .glyphicon {
    color: #333;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
}

.tab-content {
    margin-left: 45px;
}

.tab-content .tab-pane {
    display: none;
    background-color: #f3982f;
    padding: 1.6rem;
    overflow-y: auto;
    border: 3px solid #c54700;
    color:#4e1803!important;
    border-radius:7px;
}

.tab-content .active {
    display: block;
}

.pestanyes{
    margin:0 2%;
}